.Dropdown-root {
	position: relative;
}

.Dropdown-control {
	position: relative;
	overflow: hidden;
	background-color: var(--color-button);
	border: 1px solid var(--color-border);
	border-radius: 2px;
	box-sizing: border-box;
	color: var(--color-text);
	cursor: default;
	outline: none;
	padding: 8px 52px 8px 10px;
	transition: all 200ms ease;
}

.Dropdown-control:hover {
	box-shadow: 0 1px 0 var(--color-accent);
}

.Dropdown-arrow {
	border-color: var(--color-bright_ui) transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: ' ';
	display: block;
	height: 0;
	margin-top: -ceil(2.5);
	position: absolute;
	right: 10px;
	top: 14px;
	width: 0;
}

.is-open .Dropdown-arrow {
	border-color: transparent transparent var(--color-bright_ui);
	border-width: 0 5px 5px;
}

.Dropdown-menu {
	background-color: var(--color-ui);
	border: 1px solid var(--color-border);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
	padding: 8px 10px;
	color: var(--color-text);
	font-weight: bold;
	text-transform: capitalize;
}

.Dropdown-option {
	box-sizing: border-box;
	color: var(--color-text);
	cursor: pointer;
	display: block;
	padding: 8px 10px;
}

.Dropdown-option:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
	background-color: var(--color-selected);
	color: var(--color-text);
}

.Dropdown-option.is-selected {
	background-color: var(--color-selected);
	color: var(--color-text);
}

.Dropdown-noresults {
	box-sizing: border-box;
	color: var(--color-text);
	cursor: default;
	display: block;
	padding: 8px 10px;
}
